.container {
  display: flex;
  justify-content: center;
}

.ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ul li {
  display: flex;
  justify-content: center;
}
